.background-image{
    /* background-image: linear-gradient(to top, #051937, #1e3558, #36547b, #4f759f, #6898c4); */
    background-image: url("src/assets/login-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}