<div class="container my-5">
    <p class="text-3xl mt-4 fw-bold text-center text-bluegray-600">Educación</p>
    <p-carousel styleClass="my-5" [value]="educaciones" [numVisible]="3" [numScroll]="2" [circular]="true" [responsiveOptions]="responsiveOptions">
        <ng-template let-educacion pTemplate="item">
            <div class="p-card p-4 m-2 m-md-2 shadow-1">
                <div class="text-center">
                    <div class="mb-3">
                        <img src={{educacion.urlImagen}} alt="img-educacion" width="100px"/>
                    </div>
                    <div>
                        <h4 class="mb-1 font-semibold">{{educacion.institucion}}</h4>
                        <h6 class="mt-3 mb-3 line-height-3">{{educacion.titulo}}</h6>
                        <h6 class="mt-2 mb-3">Desde {{educacion.fechaDesde | date:'MM/yyyy'}} Hasta {{educacion.fechaHasta | date:'MM/yyyy'}}</h6>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>