<app-nav-bar></app-nav-bar>
<div class="container pt-2">
    <div class="row my-3">
        <div class="row d-flex vh-100 justify-content-center align-items-center" *ngIf="!persona">
            <div class="col-auto">
                <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
            </div>
        </div>
        <div class="col">
            <div class="p-card shadow-1" *ngIf="persona">
                <div class="p-4">
                    <p class="display-6">Bienvenido Admin</p>
                    <p class="text-muted">Aquí podras actualizar toda la información de {{persona.apellido}}, {{persona.nombres}}</p>
                </div>
                <p-tabView [scrollable]="true">
                    <p-tabPanel header="Datos">
                        <app-editar-datos [persona]="persona"></app-editar-datos>
                    </p-tabPanel>
                    <p-tabPanel header="Educaciones">
                        <app-lista-educaciones [persona]="persona"></app-lista-educaciones>
                    </p-tabPanel>
                    <p-tabPanel header="Habilidades">
                        <app-lista-habilidades [persona]="persona"></app-lista-habilidades>
                    </p-tabPanel>
                    <p-tabPanel header="Experiencias">
                        <app-lista-experiencias [persona]="persona"></app-lista-experiencias>
                    </p-tabPanel>
                    <p-tabPanel header="Proyectos">
                        <app-lista-proyectos [persona]="persona"></app-lista-proyectos>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>