<button pRipple pButton class="p-button-raised p-button-rounded my-2" icon="pi pi-plus" label="Nueva habilidad" (click)="showCrearHabilidad()"></button>
<p-table [value]="habilidades" [loading]="loading"
    styleClass="p-datatable-sm p-datatable-striped" [paginator]="true" [rows]="5" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Descripcion</th>
            <th>Imagen</th>
            <th>Porcentaje</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-habilidad>
        <tr>
            <td>{{habilidad.descripcion}}</td>
            <td> <img [src]="habilidad.urlImagen" alt="habilidad" width="50px"></td>
            <td>{{habilidad.porcentaje}}%</td>
            <td>
                <button pRipple pButton class="p-button-sm p-button-text m-1" icon="pi pi-pencil" (click)="showEditarHabilidad(habilidad)"></button>
                <button pRipple pButton class="p-button-sm p-button-text p-button-danger m-1" icon="pi pi-trash" (click)="eliminarHabilidad(habilidad.id)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>