.background-contact{
    background-image: url("src/assets/about-page-backgroud.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.card-contact{
    border-radius: 12px;
    padding: 10px;
}