<div class="background-about" *ngIf="persona">
    <div class="container-fluid container-lg">
        <div class="row p-4 d-flex justify-content-center align-items-center">
            <p class="text-3xl fw-bold text-center text-bluegray-600">Sobre mí</p>
            <div 
                class="col-9 col-sm-7 col-md-4 col-lg-3 col-xl-4 d-flex justify-content-center align-items-center">
                <img id="imagenPerfil" [src]="persona.urlImagen"  class="img-fluid mx-auto d-block"  alt="Quinteros Carlos Picture">
            </div>
            <div 
                class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 p-4">
                <p class="fs-5 text-center">
                    {{persona.acercaDe}}
                </p>
                <button pButton pRipple class="p-button-rounded p-button-raised mt-5 d-block mx-auto" icon="pi pi-download" label="Curriculum Vitae" (click)="goToCvPage()"></button>
            </div>
        </div>
    </div>
</div>