<div class="background-portada">
  <div class="container-fluid container-lg container-xxl">
    <div class="row min-vh-100 d-flex justify-content-center align-content-center">
      <div
        class="col-12 col-md-10 col-lg-5 col-xl-6 d-flex justify-content-center align-items-center"
      >
        <div 
          data-aos="fade-up" 
          data-aos-duration="1000"
          class="m-1 my-md-2 text-center"
          >
          <p class="fw-bold text-3xl">Hola 👋 soy</p>
          <p class="display-5 fw-bold">Carlos Dante Quinteros</p>
          <p class="text-4xl  fw-bold text-blue-600 ">
            Desarrollador web fullstack
          </p>
          <button
            pButton
            pRipple
            class="p-button-rounded p-button-raised m-3 mx-auto d-block"
            icon="pi pi-book"
            label="Contacto"
          ></button>
        </div>
      </div>
      <div
        data-aos="fade-right"
        data-aos-delay="300"
        data-aos-duration="1000"
        class="d-none d-sm-none d-md-none d-lg-block col-lg-7 col-xl-6"
      >
        <img
          class="img-fluid mx-auto d-block"
          src="assets/portada-programmer.png"
          alt="Coding"
        />
      </div>
    </div>
  </div>
  
</div>