<div class="row vh-100 justify-content-center align-items-center">
    <div class="card col-10 col-sm-9 col-md-7 col-lg-6 fadeinup animation-duration-1000 animation-iteration-1">
        <p class="display-6 text-center p-2">INICIO DE SESION</p>
        <p-divider></p-divider>
        <div class="row justify-content-center align-items-center">
            <div class="col-6 col-sm-5 col-md-5 my-auto d-block">
                <img src="assets/login-amico.svg" class="img-fluid my-auto d-block" alt="login figure">
            </div>
            <div class="col-sm-7 col-md-7">
                <div class="d-grid gap-1">
                    <div class="p-2">
                        <label for="usuario" class="form-label">Username</label>
                        <input type="text" class="form-control" placeholder="Ingrese el nombre de usuario" required>
                    </div>
                    <div class="p-2">
                        <label for="password" class="form-label" >Password</label>
                        <input type="password" class="form-control" placeholder="Ingrese su contraseña" required>
                    </div>                    
                    <div class="p-2 d-flex justify-content-end">
                        <button pButton pRipple class="p-button-rounded p-button-raised p-button" icon="pi pi-sign-in" label="Acceder"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
