<footer class="card-footer surface-900 text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 col-sm-6 col-md-4 col-lg-2">
                <img src="assets/APLogo-20-20.png" class="img-fluid" alt="AP-logo">
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-2 my-auto d-block">
                <a role="button" (click)="goToHomePage()" class="text-blue-500 text-xl font-normal no-underline">Home</a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-2 my-auto d-block">
                <a role="button" (click)="goToAboutSection()" class="text-blue-500 text-xl no-underline">Acerde de</a>
            </div>
            <!-- <div class="col-12 col-sm-6 col-md-3 col-lg-2 my-auto d-block">
                <a href="" class="text-blue-500 text-xl no-underline">Habilidades</a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-2 my-auto d-block">
                <a href="" class="text-blue-500 text-xl no-underline">Proyectos</a>
            </div> -->
            <div class="col-12 col-sm-6 col-md-3 col-lg-2 my-auto d-block">
                <a  class="text-blue-500 text-xl no-underline" routerLink="/contacto">Contacto</a>
            </div>
        </div>
    </div>
    <div class="px-6">
        <p-divider></p-divider>
    </div>
    <div class="container">
        <div class="row my-4 d-flex justify-content-center">
            <div class="col p-0">
                <div class="p-3 m-2 m-lg-4 inline-block rounded-circle shadow-2 surface-200" pTooltip="facebook.com/carlix.quinteros" tooltipPosition="top">
                    <a href="https://www.facebook.com/carlix.quinteros/" target="_blank">
                        <i class="pi pi-facebook text-3xl text-bluegray-700"></i>
                    </a>
                </div>
                <span class="p-3 m-2 m-lg-4 inline-block rounded-circle shadow-2 surface-200" pTooltip="github.com/CarlosQuinteros" tooltipPosition="top">
                    <a href="https://github.com/CarlosQuinteros" target="_blank">
                        <i class="pi pi-github text-3xl text-bluegray-700"></i>
                    </a>
                </span>
                <span class="p-3 m-2 m-lg-4 inline-block rounded-circle shadow-2 surface-200">
                    <a href="https://www.linkedin.com/in/carlos-quinteros-702356123/" target="_blank" pTooltip="linkedin.com/carlos-quinteros" tooltipPosition="top">
                        <i class="pi pi-linkedin text-3xl text-bluegray-700"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-lg text-white m-2">
                    Copyright &copy; Quinteros Carlos Portafolio 2022.
                </p>
                <p class="text-lg text-white m-2"> Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>
